<div class="container-fluid black py-4 mt-4 card">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Notas <i class="fas fa-sticky-note"></i> </h2>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>© Copyright Ruth & Lany</h2>

            </div>
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>

</div>