<div class="jumbotron jumbotron-fluid grad">
    <div class="container">
      <h2 class="display-4 text-light py-4">
        Crea y Guarda Tus Notas  <i class="fas fa-sticky-note"></i> !
      </h2>
      <p class="lead text-light">Guarda tus NOTAS importantes en línea !</p>
      <hr class="my-4" />
      <p class="lead">
        <a class="btn btn-dark btn-lg shadow" href="/dashboard" role="button"
          >Crear Una Nota <i class="fas fa-plus"></i
        ></a>
      </p>
    </div>
  </div>