<%- include('partials/nav'); %>

<div style="margin: 20vh 0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card card-body grad">
          <h1 class="text-center mb-3 text-light">
            <i class="fas fa-sign-in-alt"></i> Ingresar
          </h1>
          <% include ./partials/messages %>
          <form action="/users/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Ingresa Tu Email"
              />
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Ingresa Tu Contraseña"
              />
            </div>
            <button type="submit" class="btn btn-dark btn-block shadow">
              Ingresar
            </button>
          </form>
          <p class="lead mt-4 text-light">
            No Tienes Cuenta?
            <a class="text-dark" href="/users/register">Registrate Aqui</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  <%- include('partials/footer'); %>
</div>
